@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f5;
  font-family: 'Roboto', sans-serif;
}
#maincomponent{
  height: 100vh; 
  overflow: hidden;
}
#header {
  background-color: white;
  width: 100%;
  padding: 7px;
  box-shadow: 0 1.5px 3px 0px #ddd;
}
.flogo {
  color: rgb(0, 114, 245);
  font-size: 42px;
  cursor: pointer;
}
.header-left .wrap {
  display: flex;
  align-items: center;
}
.header-left a {
  margin-bottom: -7px;
}
.header-left input {
  padding: 13px;
  padding-right: 45px;
  border-radius: 40px;
  border: none;
  background: #e4e7ea;
  outline: none;
  margin-left: 5px;
  margin-top: 5px;
}
.header-middle {
  text-align: center;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding-bottom: 8px !important;
}
.menuitem {
  font-size: 28px;
  padding: 10px 50px;
  color: #aaaaaa;
}
.menuitem:hover {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  cursor: pointer;
}
.header-right {
  display: flex;
  float: right;
  align-items: center;
  margin-top: 6px;

  margin-right: 15px;
}
.header-right a {
  text-decoration: none;
  color: inherit;
}
.rightitem {
  font-size: 28px;
  margin-right: 9px;
  background-color: #e4e7ea;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
}
.rightitem:hover {
  background-color: #e2e2e2;
}
.rightitem:last-child {
  margin-right: 0;
}
.profile-btn {
  margin-right: 9px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 4px 5px;
  cursor: pointer;
}
.profile-btn img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border-radius: 50%;
}
.profile-btn:hover {
  background-color: #e4e7ea;
}
.profile-btn p {
  font-weight: 600;
  margin: 0;
}
